<div class = "container">
<div class = "navbar">
          <div closs="container">
          <div class="row">
              <div style = 'float:left'><%= image_tag("logo.png", :id => 'logo2') %></div>
            <h1 style="float:center">New User Signup!</h1>
          </div>
        </div>
        </div>
        </div>
<div class = "container">
<br />
<br />
<br />
<%= render 'form' %>

<%= button_to 'Back', users_path, :id => 'buttons' %>

</div>