<div>
<div class = "navbar">
          <div>
          <div style="float:left;">
               <%= button_to "ðŸ ", '/back', :method => 'get', :id => 'back'%>
            </div>
          <div>
            <h1 id="inner">New User Signup!</h1>
          </div>
        </div>
        </div>
        </div>
        <br>
<div>
<br/>
<br/>

<%= render 'form' %>

<%= button_to "Back", '/login', :method => 'get', :id => 'back'%>
</div>