<head>
  <meta charset = "utf-8" />
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/welcome.scss">
<style>
  * {padding: 0; margin: 0; }
</style>
</head>
<body>
  <!-- intro area -->
  <div id="intro">
    <div style="float:right" >
      <button>SIGN IN</button>
    </div>
    <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
              <h1><a href="index.html.erb">Game</a></h1>
              <!--div class="line-spacer"></div> -->
              <p><span>Awesome Game Coming Soon</span></p>
              <%= link_to 'Game', "/game.html" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>