<head>
  <meta charset = "utf-8" />
<style>
  * {padding: 0; margin: 0; }
</style>
</head>
<body>
  <!-- intro area -->
  <div id="intro">

    <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
              <h1><a href="index.html.erb">Game</a></h1>
              <!--div class="line-spacer"></div> -->
              <p><span>Awesome Game Coming Soon</span></p>
              <button id="startButton" class= "btn" type="button">START</button>
              <canvas id = "myCanvas" width = "480" height = "320"></canvas>
              <%= javascript_include_tag 'breakout3.js' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>