<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <%= stylesheet_link_tag "/app/assets/stylesheets/application.css" %>
</head>
<body>
  <!-- intro area -->
  <div id="intro">
    <div style="float:right" >
      <%= button_to 'Sign in', '/login', :method => 'get', :id => 'signin' %>
    </div>
    <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
              <h1>Game</a></h1>
              <!--div class="line-spacer"></div> -->
              <p><span>Awesome Game Coming Soon</span></p>
              <%= button_to 'GAME', games_path, :method => 'get', :id => 'gameButton' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>