<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">
</head>
<body>
  <!-- intro area -->
  <div id="intro">
    <div style="float:right" >
      <button id="signin">SIGN IN</button>
    </div>
    <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
              <h1><a href="index.html.erb">Game</a></h1>
              <!--div class="line-spacer"></div> -->
              <p><span>Awesome Game Coming Soon</span></p>
              <%= button_to 'GAME', games_path, :method => 'get' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>