<head>
  <meta charset = "utf-8" />
  <style>
  * {padding: 0; margin: 0; }
  </style>
  <%= stylesheet_link_tag "/app/assets/stylesheets/application.css" %>
</head>
<body>
  <!-- intro area -->
  <div id="intro">
    <div style="float:right">
      <%= button_to 'Sign in', '/login', :method => 'get', :id => 'signin' %>
    </div>
    <h1 style="float:center">
        Welcome to © Games!
      </h1>
    <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
              <!--div class="line-spacer"></div> -->
              <%= button_to 'GAME', games_path, :method => 'get', :id => 'gameButton' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>