<head>
    <title>Breakout!</title>
    <meta charset = "utf-8" />
    <style>
        * {padding: 0; margin: 0; }
    </style>
    <%= stylesheet_link_tag    "application", :media => "all" %>

   <!-- <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/welcome.css"> -->
</head>
<body>
     <div class="intro-text">
      <div class="container">
        <div class="row">


          <div class="col-md-12">

            <div class="brand">
                <h1>Breakout!</h1>
                <button id ="startButton" class = "btn" type = "button">START</button>
                <button id = "postButton" class = "btn" type = "button">Submit Score</button>
                <canvas id= "myCanvas" width = "480" height = "320"></canvas>
                <%= javascript_include_tag 'breakout3.js' %>
            </div>
          </div>
        </div>
    
    
    
</body>
