/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * .
 *=require_tree
 *= require_self
 *= require welcome.css
 */
 
 
/* ================================
Imports
================================= */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800);
@import url('font-awesome.min.css');
@import url('overwrite.css');
@import url('dlmenu.css');
@import url('animate.css');
@import 'bootstrap';

/* ================================
General
================================= */
body{
	width: 100%;
	background: #529abb;
	margin:0;
	padding:0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	overflow:hidden; /*Removes scroll*/
	
}

h1 {
	display: inline-block;
	margin-top: 5px;
	padding-top: 5px;
	color: #FFFFFF;
	font-size: 40px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}

h2,h3,h4,h5,h6,.h2,.h3,.h4,.h5,.h6{
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}

p{
	color: #FFFFFF;
	font-size: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    opacity: 70%;
    z-index: 1;
}

.bottombar {
	overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

.bottombar a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottombar a:hover{
	transform: scale(1.05, 1.05);
    color: #FFFFFF;
    background-color: #528e89;
}

canvas {
	background: #eee; 
	display: block; 
	margin: 0 auto;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.lead{
	font-weight: 400;
}

button, input[type=button]{
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
button:hover, input[type=button]:hover{
	transform: scale(1.05, 1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    color: transparent;
    background-color: white;
	
}
button.navbar-toggle {
	background: #2b2b2b;
	border: none;
	color: #fff;
}

.btn-theme,.btn-theme:hover,.btn-theme:focus{
	color: #fff;
}
.btn-theme:hover{
	background: transparent !important;
	border-color: #999;
	color: #999;
}
#back{
margin: 10px;
	padding: 6px, 12px;
	background-color: transparent;
	border-color: white;
	color: white;
	font-size: 14px;
	line-height: 1.428571429;
	position: relative;
	margin-bottom: 10px;
	padding: 6px 12px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
}


/* ================================
margin, padding
================================= */
.mar-top0 {
	margin-top: 0;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top40 {
	margin-top: 40px;
}

#gameButton, #startButton, #signin, #buttons{
	margin: 10px;
	padding: 6px, 12px;
	background-color: transparent;
	border-color: white;
	color: white;
	font-size: 14px;
	line-height: 1.428571429;
	display: inline-block;
	margin-bottom: 10px;
	padding: 6px 12px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#startGameButton{
	margin: 10px;
	padding: 6px, 12px;
	background-color: transparent;
	border-color: white;
	color: white;
	font-size: 14px;
	line-height: 1.428571429;
	display: inline-block;
	margin-bottom: 10px;
	padding: 6px 12px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#gameButton:hover, #startButton:hover, #signin:hover, #back:hover, #buttons:hover{
	transform: scale(1.05, 1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    color: #559aba;
    background-color: white;
}

#textFields, input.username{
	float: middle;
	height: 30pt;
	font-size: 30pt;
	width: 240pt;
	border-color: white;
	border-width: 1pt;
	background-color: transparent;
	color: white;
	padding: 5px;
}

#textNames{
	color: white;
	font-size: 25pt;
	padding: 10px;
}

#signin{
	float: right;
	display: inline-block;
}

#breakoutImg {
	width: 35%
}

#logo, #logo2 {
	width: 3.5%;
}

#logo2 {
	float: right;
}


input[type="button"]:disabled{
	background-color: #7a7a7a;
	color: #ffffff;
	
}

/* ================================
Home sections
================================= */

.home-section {
	width: 100%;
	padding: 90px 0px 150px 0px;
}

/* --- heading --- */
.section-heading {
	margin-bottom: 70px;
}
	
.section-heading h2 {
	font-size: 38px;
	text-transform: uppercase;
}
	
.section-heading .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 80px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}

	
/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}

.bg-dark {
	background: #575757;
}


/* --- section content general color --- */

.color-light h1,.color-light h2,.color-light h3,.color-light h4,.color-light h5,.color-light h6 {
	color: #fff;
}


.color-light p {
	color: #eee;
}


/* ==========================
Spacer
============================= */

#spacer1{	
	background-image: url(../img/spacer/1.jpg);
}
#spacer2{	
	background-image: url(../img/spacer/2.jpg);
}


/* ================================
Intro
================================= */

#intro{
    height:1000px;
    width:100%;
    background-color: #529abb;
    background-image: url(../img/bg-mac.png);
    background-position:center;
    background-repeat:no-repeat;
    overflow-y:hidden;
    text-align:center;
    position:relative;
}



.intro-text {
	position:relative;
	width:100%;
	margin-top:125px;
	z-index:1000;
}
#intro .brand {
	margin-top: 40px;
}
.intro-text h1 a {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px; 
	line-height:1.1em;
	padding-top:30px;
	text-transform: uppercase;	
}
.intro-text h1 a:hover {
	text-decoration: none;
}

.line-spacer {
	width: 20%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-bottom:1px solid #fff;
}

.intro-text p span {
	color:#fff;
	font-size: 24px;
	text-align:center;
	font-weight: 300;
}
.username{
	width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.password{
	width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ==========
	Edit user fields
	========= */
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#inner {

  margin: auto;
}
#signin{
	margin: auto;
}