// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.userPage{
    overflow: scroll;
}

#userButton{
    margin: 10px;
	padding: 6px, 12px;
	background-color: transparent;
	border-color: white;
	color: white;
	font-size: 14px;
	line-height: 1.428571429;
	display: inline-block;
	margin-bottom: 10px;
	padding: 6px 12px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
}
#userButton:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    color: #559aba;
}
table {
    overflow: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: 95%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

td {
    color: #d6cbcb;
    text-align: left;
    padding: 8px;
}
th {
    color:#f8f8f8;
    font-size: 150%; 
    text-align: left;
    padding: 8px;
    
}

tr:nth-child(even){
  background-color: #1f2d42;
}
tr:nth-child(odd){
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#textFields{
    margin: auto;
}
#signin{
	margin: auto;
}