<head>
  <meta charset = "utf-8" />
<style>
  * {padding: 0; margin: 0; }
  canvas { background: #eee; display: block; margin: 0 auto; }
</style>
</head>
<body>
<p>
  <strong>Score:</strong>
  <%= @stat.score %>
</p>
</body>