<head>
  <meta charset = "utf-8" />
<style>
  * {padding: 0; margin: 0; }
  canvas { background: #eee; display: block; margin: 0 auto; }
</style>

</head>
<body>
<p>
  <strong>Score:</strong>
  <%= @stat.score %>
  <strong>Name:</strong>
  <%= @stat.name %>
</p>
</body>

<%= link_to 'Destroy', user_stat_path(@user, @stat),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>

<%= link_to 'User Profile', current_user %>